<div class="col s6 m4 l4 xl3" >
	<div class="card" [ngClass]="{'marked' : mark}">
		<div class="card-image">
			<img src={{cardItem.img}}>
			<span class="card-title">{{ cardItem.name }}</span>
		</div>
		<div class="card-content">
			<p>{{ cardItem.geo }}</p>
		</div>
		<div class="card-action">
		 	<a 
		 		(click)=onClick()
		 		class="btn-floating btn-large waves-effect waves-light red">
		 		<i class="material-icons">{{ mark ? 'remove' : 'add' }}</i>
		 	</a>
		 	<a 
		 		[routerLink]="[cardItem.id, cardItem.name, cardItem.geo, cardItem.img]"
		 		class="waves-effect waves-light btn card__btn">
		 		more
		 	</a>
		</div>
	</div>
</div>